$blue: #30C1FF;
$yellow: #ffeab3;
$white: #ffffff;
$black: #000000;

html {
  box-sizing: border-box;
  overscroll-behavior: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $blue;
  font-family: 'Roboto', Helvetica, 'Arial', sans-serif;
  font-size: 26px;
  color: $white;
}

.title {
  @media only screen and (max-width: 768px) {
    margin: 3vh;
    text-align: center;
  }
}

a {
  text-decoration: underline;
  color: $black;
}

.ocean {
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 5vw 5vw 0;
}

.swimmer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swimmer__sprite {
  width: 80px;
  height: auto;

  @media only screen and (max-width: 768px) {
    width: 50px;
  }
}

.swimmer__sprite--water {
  margin-top: -18px;
}

.swimmer__sprite--sand {
  transform: translateY(-18px);
}

.swimmer__sprite--up {
  transform: scaleY(-1);
}

.swimmer__sprite--hidden {
  display: none;
}

.beach {
  background-color: $yellow;
  color: $black;
  height: 100%;
  padding: 300px 5vw 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parasol {
  width: 300px;
  height: 300px;
  z-index: 9999999;

  @media only screen and (max-width: 768px) {
    width: 150px;
    height: 150px;
  }
}

.resume-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 900;
  margin: 200px 0 50px;
}

.resume-link__icon {
  width: 350px;
  height: 350px;
  z-index: 9999999;
  margin: 0 0 30px 30px;

  @media only screen and (max-width: 768px) {
    width: 200px;
    height: 200px;
  }
}

.github-link {
  font-weight: 900;
  text-align: center;
}
